.toolbaritem {
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.toolbaritemactive {
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em;
  border: 2px solid rgb(116, 116, 116);
  border-radius: 4px;
  cursor: pointer;
}

.minitoolbaritem {
  display: inline-block;
  padding: 0.25em;
  margin: 0.25em;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  cursor: pointer;
}

.minitoolbaritemactive {
  display: inline-block;
  padding: 0.25em;
  margin: 0.25em;
  background-color: rgb(230, 230, 230);
  border-radius: 4px;
  cursor: pointer;
}
