@keyframes example {
  from {
    height: 0px;
  }
  to {
    height: 100%;
  }
}

.mainbody {
  height: 100%;
  animation-name: example;
  animation-duration: 2s;
}

@keyframes appear {
  0% {
    transform: translateY(20%);
    scale: 0.8;
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    scale: 1;
    opacity: 100%;
  }
}

.appear {
  animation-name: appear;
  animation-duration: 0.5s;
}

@keyframes slideleft {
  0% {
    transform: translateX(-50%) translateY(100%) scale(20%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0%) translateY(0%) scale(100%);
    opacity: 100%;
  }
}

.left {
  animation-name: slideleft;
  animation-duration: 2s;
}

@keyframes slideright {
  0% {
    transform: translateX(50%) translateY(100%) scale(20%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0%) translateY(0%) scale(100%);
    opacity: 100%;
  }
}

.right {
  animation-name: slideright;
  animation-duration: 2s;
}

.circle {
  clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
}
