@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Inter&family=Roboto+Mono:wght@200&display=swap");

html {
  background-color: #000;
  color: #fff;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #3f3f3f;
}

::-webkit-scrollbar-thumb {
  background-color: #6a7073;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #80878a;
}

li {
  font-family: "Roboto Mono", monospace;
}

.circle {
  clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
}

@keyframes appear {
  0% {
    transform: translateY(40%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0%);
    opacity: 100%;
  }
}

@keyframes slideleft {
  0% {
    transform: translateX(-50%) translateY(100%) scale(80%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0%) translateY(0%) scale(100%);
    opacity: 100%;
  }
}
@keyframes slideright {
  0% {
    transform: translateX(50%) translateY(100%) scale(80%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0%) translateY(0%) scale(100%);
    opacity: 100%;
  }
}

.fade-in {
  animation-name: appear;
  animation-duration: 0.5s;
}

.from-left {
  animation-name: slideleft;
  animation-duration: 2s;
}
.from-right {
  animation-name: slideright;
  animation-duration: 2s;
}
